@use './mixins' as *;

.burger-btn {
	position: fixed;
	top: 2rem;
	right: 2rem;
	padding: 1.5rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	border: 1px solid transparent;
	z-index: 1001;

	&:hover .burger-btn__bars::after,
	&:hover .burger-btn__bars::before {
		width: 100%;
	}

	&__box {
		position: relative;
		width: 4rem;
		height: 3rem;
	}

	&__bars {
		height: 3px;
		background-color: #ffd900;

		&::after {
			@include burgerBtnBars;
			top: 1.3rem;
			width: 66%;
		}

		&::before {
			@include burgerBtnBars;
			top: 2.7rem;
			width: 33%;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	transition: 1s cubic-bezier();
	transform: translateX(200%);
	z-index: 1000;

	&__item {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 3rem;
		color: #ffd900;
		padding: 1rem 3rem;
		margin: 2rem 0;

		&::before {
			@include navItemsDecoration;
			left: -30%;
		}

		&::after {
			@include navItemsDecoration;
			left: 105%;
		}

		&:hover::before,
		&:hover::after {
			transform: scale(1);
		}

		&-socials {
			display: flex;
			justify-content: center;
			font-size: 3rem;
			gap: 3rem;

			a,
			.tooltip {
				color: #ffd900;
				transition: color 0.3s;
			}

			a:hover,
			.tooltip:hover {
				color: #e8b211;
			}

			.tooltip {
				background: none;
				position: relative;
				display: inline-block;
				font-size: 3rem;
			}

			.tooltip .tooltiptext {
				visibility: hidden;
				width: 15rem;
				background-color: #000;
				color: #fff;
				text-align: center;
				padding: 0.5rem 0;
				border-radius: 6px;
				position: absolute;
				z-index: 1;
				top: 105%;
				left: 50%;
				margin-left: -7.5rem;
			}

			.tooltip:hover .tooltiptext {
				visibility: visible;
				font-size: 1.2rem;
			}
		}
	}
}

.nav-active {
	transform: translateX(0);
	background: rgba(45, 45, 45, 0.4);
	backdrop-filter: blur(10px);
	z-index: 1000;
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.header__section {
	display: flex;
	flex-direction: column;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 75vh;
		background-image: url('../../dist/img/bg-img.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;

		.profil-img {
			width: 25rem;
			border-radius: 50%;
		}

		.profil-text-h1 {
			margin-top: 2rem;
			font-size: 2.8rem;
			text-shadow: 0 0 4px #fff;
			font-weight: 300;
		}

		.profil-text-p {
			margin-top: 1rem;
			font-size: 1.8rem;
		}
	}
}

.main {
	z-index: 1;
	position: relative;
	overflow-x: hidden;
	.aboutme-text {
		font-size: 1.6rem;
		text-align: center;
	}

	.skills__section {
		background-color: rgba(255, 255, 255, 0.1);
		.skills__section-content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 4rem;

			.fa-brands {
				font-size: 5rem;
			}
			.fa-html5 {
				color: #e05a3a;
			}
			.fa-css3-alt {
				color: #2680c0;
			}
			.fa-js {
				color: #f8d24b;
			}
			.fa-sass {
				color: #c07093;
			}
			.fa-bootstrap {
				color: #7e38d8;
			}
			.fa-git-alt {
				color: #ff4500;
			}
		}
	}

	.skills__section-p {
		font-size: 1.4rem;
		padding-top: 5rem;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
	}

	.projects__section-content {
		display: flex;
		justify-content: center;

		img {
			width: 100%;
		}

		.projects-box {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: 2em;
			list-style: none;
		}

		.projects-box li {
			position: relative;
			margin-bottom: 2em;
			width: 100%;
			border: 1px solid #ffd900;
			border-radius: 8px;
			overflow: hidden;

			img {
				transition: transform 0.3s;
			}
		}

		.projects-box img:hover {
			transform: scale(1.1);
		}
	}
}

.wave {
	position: relative;
	.custom-shape-divider-bottom-1672363873 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1672363873 svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 4rem;
	}

	.custom-shape-divider-bottom-1672363873 .shape-fill {
		fill: rgb(88, 80, 45);
	}
}

.footer {
	position: relative;
	text-align: center;
	padding: 1rem 0;
	font-size: 1.2rem;
	background-color: rgb(88, 80, 45);
	color: #fff;
	margin-top: 9rem;
}
