@use './mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #111;
	color: #fff;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select,
ul {
	font-family: inherit;
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.burger-btn {
	position: fixed;
	top: 2rem;
	right: 2rem;
	padding: 1.5rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	border: 1px solid transparent;
	z-index: 1001;

	&:hover .burger-btn__bars::after,
	&:hover .burger-btn__bars::before {
		width: 100%;
	}

	&__box {
		position: relative;
		width: 4rem;
		height: 3rem;
	}

	&__bars {
		height: 3px;
		background-color: #ffd900;

		&::after {
			@include burgerBtnBars;
			top: 1.3rem;
			width: 66%;
		}

		&::before {
			@include burgerBtnBars;
			top: 2.7rem;
			width: 33%;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	transition: 1s cubic-bezier();
	transform: translateY(-200%);
	z-index: 1000;

	&__item {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 3rem;
		color: #ffd900;
		padding: 1rem 3rem;
		margin: 2rem 0;

		&::before {
			@include navItemsDecoration;
			left: -30%;
		}

		&::after {
			@include navItemsDecoration;
			left: 105%;
		}

		&:hover::before,
		&:hover::after {
			transform: scale(1);
		}
	}
}
.nav-active {
	transform: translatey(0);
	background: rgba(45, 45, 45, 0.4);
	backdrop-filter: blur(10px);
	z-index: 1000;
}
.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

@media (min-width: 1200px) {
	.nav {
		height: 100vh;
		width: 50%;
		transform: translateX(200%);
	}

	.nav-active {
		transform: translateX(100%);
	}
}