@use './mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: #030818;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select,
ul {
	font-family: inherit;
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.burger-btn {
	position: fixed;
	top: 2rem;
	right: 2rem;
	padding: 1.5rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	border: 1px solid transparent;
	z-index: 1001;

	&:hover .burger-btn__bars::after,
	&:hover .burger-btn__bars::before {
		width: 100%;
	}

	&__box {
		position: relative;
		width: 4rem;
		height: 3rem;
	}

	&__bars {
		height: 3px;
		background-color: #ffd900;

		&::after {
			@include burgerBtnBars;
			top: 1.3rem;
			width: 66%;
		}

		&::before {
			@include burgerBtnBars;
			top: 2.7rem;
			width: 33%;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	transition: 1s cubic-bezier();
	transform: translateX(200%);
	z-index: 1000;

	&__item {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 3rem;
		color: #ffd900;
		padding: 1rem 3rem;
		margin: 2rem 0;

		&::before {
			@include navItemsDecoration;
			left: -30%;
		}

		&::after {
			@include navItemsDecoration;
			left: 105%;
		}

		&:hover::before,
		&:hover::after {
			transform: scale(1);
		}
	}
}

.nav-active {
	transform: translateX(0);
	background: rgba(45, 45, 45, 0.4);
	backdrop-filter: blur(10px);
	z-index: 1000;
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.header__section {
	display: flex;
	flex-direction: column;

	&-left {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 70vh;
		background-image: url('../../dist/img/bg-img.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;

		.profil-img {
			width: 25rem;
			border-radius: 50%;
		}

		.profil-text-h1 {
			margin-top: 2rem;
			font-size: 2.8rem;
			text-shadow: 0 0 4px #fff;
		}

		.profil-text-p {
			margin-top: 1rem;
			font-size: 1.8rem;
		}
	}

	&-right {
		height: 30vh;
		padding: 4rem;

		.aboutme-heading {
			font-family: 'Courier New', monospace;
			font-weight: lighter;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 2rem;
			font-size: 2.4rem;
			color: #ffd900;
		}

		.aboutme-text {
			font-size: 1.6rem;
		}
	}
}

.main {
	height: 50vh;
}

.wave {
	position: relative;
	.custom-shape-divider-bottom-1672363873 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1672363873 svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 40px;
	}

	.custom-shape-divider-bottom-1672363873 .shape-fill {
		fill: rgb(88, 80, 45);
	}
}

.footer {
	position: relative;
	text-align: center;
	padding: 1rem 0;
	font-size: 1.2rem;
	background-color: rgb(88, 80, 45);
	color: #fff;
	margin-top: 9rem;
}

@media (min-width: 1200px) {
	.nav {
		height: 100vh;
		width: 50%;
		transform: translateX(200%);
	}

	.nav-active {
		transform: translateX(100%);
	}

	.header__section {
		flex-direction: row;

		&-left,
		&-right {
			width: 50%;
			height: 100vh;
		}

		&-left {
			position: sticky;
			top: 0;

			.profil-img {
				width: 40rem;
			}

			.profil-text-h1 {
				font-size: 4.5rem;
			}

			.profil-text-p {
				font-size: 2.2rem;
			}
		}

		&-right {
			padding: 10rem;

			.aboutme-heading {
				font-size: 4rem;
			}
		}
	}

	.wave {
		.custom-shape-divider-bottom-1672363873 svg {
			height: 70px;
		}
	}

	.footer {
		font-size: 1.4rem;
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
